*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root{
    background-color: #fff;
 }


body{
    /* background-color: blue; */
    padding: 0 10%;
    margin-inline:auto;
    /* outline:2px solid red; */
    min-width: 780px;
    /* max-width: 1024px; */
    /* background-color: navy; */
}
header{
    background-color: #1f2937;
    color:white;
    padding:5px 50px 0px 50px ;
    width: 100%;
    display: flex;
    
    justify-content: space-between;
}
.head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 5px solid white; */
    width: 100%;
    padding-inline:5px;
}
menu ul{
    gap:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.wrapAll{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    /* outline:1px solid tomato; */
    justify-content: center;
}
h4{
    text-align: center;
    padding:30px;
    /* outline:1px solid tomato; */
}
.cardWrapper{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding:20px;
    justify-content: center;
    /* outline:1px solid red; */
}
.wrapHero{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #1f2937;
    padding: 120px;
    /* max-height: 500px; */
    /* column-gap: 50px; */
}
.wrapHero h2{
    font-size: 3em;
}
.text{
    /* outline:3px solid red ; */
    width: 45%;
    color:white;
}
.text p{
    margin-block: 15px;
    /* font-size: 1.8em; */
}

.img{
    width:55%;
    height: 100%;
}
button{
    background-color: #3b82f5;
    color:white;
    padding: 10px;
    /* font-size: 1.4em; */
}

.quote p{
    /* outline:1px solid tomato; */
    font-size: 1.3em;
    padding:80px;
    background-color: rgb(230, 231, 235);
}

.ctaWrapper{
    display:flex;
    flex-direction: column;
    background-color: rgb(59, 130, 245);
    color:white;
    margin:50px 100px;
    border-radius: 8px;
    padding: 25px;
}
.ctaWrapper button{
    /* border:none; */
    border: 2px solid white;
    border-radius: 10px;
    justify-self: end;
    margin-inline:50px;

}

footer{
    background-color: rgb(31, 42, 56);
    color:white;
    text-align: center;
    padding:50px;
}